*{
    font-family: 'Josefin Sans', sans-serif;
    --header-color: #23232e;
  }
  /*MENU*/
    .pave{
        width: 100%;
        height: 100px;
        color: #fff;
        background: var(--header-color);
        align-items: center;
        display: flex;
        font-weight: 700;
        font-size: 30px;
        text-decoration: none;
    }
    .kablooe, a{
        color: #fff;
    }
    .kablooe{
        padding: 0 40px;
    }
    
    /*BANNER*/
    .banner{
        height: 500px;
        background-image: url(../img/testeLivros.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .banner{
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      color: #fff;
    }
    /*FORMULÁRIO*/
    form .txt_field{
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
    }
    .txt_field input{
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
    }
    .txt_field label{
      position: absolute;
      top: 50%;
      left: 5px;
      color: #adadad;
      transform: translateY(-50%);
      font-size: 16px;
      pointer-events: none;
    }
    .txt_field span::before{
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #2691d9;
      transition: .5s;
    }
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
      top: -5px;
      color: #2691d9;
    }
    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before{
      width: 100%;
    }

    /*TABELA*/
    .tabela{
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .botao{
        margin: 0 10px 6px 6px;
        text-align: center;
      
    }